.create-pages {

  // override the pal header color
  .coligo-create--header {
    &.pal--page-header {
      background-color: $ui-01;
    }
  }

  .coligo-create--content {
    width: calc(100% - 22rem);

    &.no-ordersummary {
      width: 100%;
    }

    // on smaller screens the order summary is rendered below the content
    // that is why we should expand the content to its full width
    @media (max-width: 671px) {
      width: 100%;
    }
  }

  .coligo-create--order-summary {
    top: 50px;
    height: calc(100% - 50px);
    position: fixed;
    right: 0;

    // currently, we do not want to show the add to estimate btn on component creation pages
    .bx--btn.bx--btn--tertiary.hide-estimate-btn {
      display: none;
    }
  }

  // we need to adjust the spacing of error notifications
  .bx--inline-notification {
    margin-top: 0;
    margin-bottom: $layout-03;
  }

  .clg-tile-header {
    margin: 1rem 0 2rem;
  }

  .clg-component-type-selector-group {
    margin-bottom: $layout-03;
  }

  .productive-heading-03 {
    margin-top: $layout-03;

    &.main-section {
      margin-top: $layout-05;
    }

    &.first-section {
      margin-top: 0;
    }
  }

  .details-container {
    margin-top: $layout-01;
  }

  // of course there are exceptions for the bottom space
  .coligo-create--content .coligo-form .last-row-of-section .bx--form-item,
  .coligo-form .pal--resource-tag-area .bx--form-item.pal--resource-tag-area__content {
    margin-bottom: 0;
  }

  // on small screens
  // we need to ensure that form items that are not longer next to each other have a enough spacing in between
  @media (max-width: 671px) {
    .bx--row.last-row-of-section .first-of-group {
      margin-bottom: $layout-03;
    }
  }

  .section-toggle {
    cursor: pointer;
    margin-right: $spacing-03;
  }

  .collapsable-section {
    padding-left: $layout-02;
  }

  .section-subtitle {
    @include type-style(label-01);

    margin-top: -$spacing-02;
  }

  .subsection-heading {
    margin-top: $layout-03;
  }

  .subsection-subtitle {
    @include type-style(label-01);

    margin-top: -$spacing-02;
    margin-bottom: $layout-03;
  }

  .action-btns {
    margin-top: $layout-05;
    margin-bottom: $layout-05;

    // we need some space between the cancel and save button
    .bx--btn--secondary {
      margin-right: $spacing-05;
    }
  }

  .clg-tile-selector {
    margin-bottom: $layout-04;
  }
}
