.clg-jobdef-surface-details {
  display: inline-block;
  margin: 0 $spacing-xs;

  span {
    padding-right: $spacing-xs;

    svg {
      position: relative;
      top: 3px;
      margin-right: $spacing-2xs;
    }
  }
}

.clg-jobdef-detail-page {
  .job-parameters--container {
    padding-left: 0;
    padding-right: 0;
  }

  &--configuration {
    .pal--side-panel {
      .pal--order-summary-v2 {
        display: none;
        height: unset;
        width: 100%;
        bottom: 3rem;
      }

      .pal--side-panel__open {
        .pal--order-summary-v2 {
          display: block;
        }
      }

      .submit-jobrun--summary .bx--row {
        margin-bottom: $spacing-05;
      }

      .submit-jobrun--summary .bx--row.last {
        margin-bottom: $layout-07;
      }
    }

    .actions-btns {
      // ensures that the loading animation and the cancel button are rendered next to each other
      display: flex;

      // ensures that the action buttons are in-line with the input/dropdown field
      margin-top: 0;

      // we need some space between the cancel and save button
      .clg-edit-cancel-btn {
        margin-right: $spacing-05;
      }

      // in case the revision name is invalid, we need some more spacing below the action buttons
      &.invalid-name {
        margin-bottom: 1.4rem;
      }
    }

    .section.configuration-tabs {
      .bx--tab-content,
      .bx--tabs__nav-item--selected {
        background-color: $ui-02;
      }
    }

    .form-section {
      .form-section--header {
        padding-top: $spacing-03;
        padding-bottom: $spacing-04;
      }

      // input fields should span the whole width of the column
      .resource-limit-input {
        width: 100%;
      }
    }

    .section.jobrun-list {
      .jobdef--no-jobruns {
        padding: $spacing-05;

        @media (min-width: 1312px) {
          padding: $spacing-09;
        }

        &__title {
          margin-top: $spacing-06;
        }

        &__description {
          margin-top: $spacing-03;
        }

        &__morelink {
          margin-top: $spacing-07;
        }
      }
    }

    .environment-variables {
      // the delete trash can must be aligned
      &--delete-button {
        padding-top: $spacing-05;
      }

      &--btn-add {
        padding-top: $spacing-05;
        margin-top: $spacing-05;
      }
    }

    .clg-card-container {
      &.jobrun-list-card {
        .pal--card__body {
          padding: 0;
        }
      }
    }
  }

  .debug-information {
    padding-top: $spacing-lg;
  }
}

.jobdef-nav {
  a[id='observe-logging'] {
    padding: 0;

    .bx--overflow-menu-options__option:hover {
      background-color: $ui-03;
    }

    .bx--overflow-menu-options__option {
      height: unset;
    }

    button.bx--overflow-menu-options__btn {
      padding: $spacing-03 $spacing-03 $spacing-03 $spacing-08;
      width: 100%;
      max-width: unset;
      height: unset;
    }
  }
}
