.clg-jobrun-detail-page {
  margin-left: $spacing-md;

  .job-parameters--container {
    padding-left: 0;
    padding-right: 0;
  }

  // as the numbers of tles per row changes on different screen-sizes,
  // we need to adjust the paddings accordingly
  // BREAKPOINT: MAX, XLG, LG
  @media (min-width: 1056px) {
    .clg-tile-col:not(.first-col) {
      padding-left: 0;
    }

    .clg-tile-col:not(.last-col) {
      padding-right: 0;
    }
  }

  // as the numbers of tles per row changes on different screen-sizes,
  // we need to adjust the paddings accordingly
  // BREAKPOINT: MD
  @media (min-width: 672px) and (max-width: 1055px) {
    .clg-tile-col:not(.first-md-col) {
      padding-left: 0;
    }

    .clg-tile-col:not(.last-md-col) {
      padding-right: 0;
    }
  }

  // as the numbers of tles per row changes on different screen-sizes,
  // we need to adjust the paddings accordingly
  // BREAKPOINT: SM
  @media (max-width: 671px) {
    .clg-tile-col:not(.first-sm-col) {
      padding-left: 0;
    }

    .clg-tile-col:not(.last-sm-col) {
      padding-right: 0;
    }
  }

  .clg-status-tile {
    // for the status tiles we need to overide the col spacing
    margin-right: $spacing-01;
    margin-bottom: $spacing-01;
    min-height: 125px;

    &--details {
      padding-top: $spacing-04;
      padding-bottom: $spacing-03;
    }

    .clg-field-label {
      margin-bottom: $spacing-01;
    }

    .clg-field-value {
      @include type-style(body-short-01);
    }

    .clg-status--startdate {
      margin-bottom: $spacing-03;
    }
  }

  .clg-instance-status-details {
    margin-top: $spacing-sm;

    span {
      padding-left: $spacing-xs;
    }
  }

  .clg-jobrun-details-row {
    padding-top: $layout-xs;
    background: $ui-background;
  }

  .clg-jobrun-config-key {
    padding-top: $spacing-md;
    font-weight: bold;
  }

  .clg-jobrun-config-value {
    padding-top: $spacing-md;
  }

  .clg-jobrun-environment-container {
    max-height: fit-content;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;

    .bx--structured-list {
      margin-bottom: 1rem;

      .bx--structured-list-td {
        word-break: break-all;
      }
    }
  }

  .clg-no-items {
    padding-left: $spacing-md;
    padding-top: $spacing-md;
    font-style: italic;
  }

  .debug-information {
    padding-top: $spacing-lg;
  }

  .clg-card-header-button-container {
    display: flex;
  }

  .clg-jobrun-rerun-btn {
    display: flex;
    margin-right: $spacing-05;
  }
}
