@import './build-detail-page';
@import './project-list-page';
@import './project-detail-page';
@import './application-detail-page';
@import './cli-page';
@import './job-definition-detail-page';
@import './job-run-detail-page';
@import './coligo-create-page';
@import './overview-page';
@import './forbidden-page';
@import './landing-page';
@import './health-page';
@import './under-construction';
@import './error-page';

// make left nav collapseable again with new permanent left ACE sidebar
.pal--side-nav.pal--world-level-nav.pal--side-nav--collapsed ~ .has-side-nav .ibm-cloud-app {
  margin-left: 3rem;
  transition: margin-left $duration--moderate-02 motion(exit, productive);
  -webkit-transition: margin-left $duration--moderate-02 motion(exit, productive);
}

// make left nav collapseable again with new permanent left ACE sidebar
.pal--side-nav.pal--world-level-nav:not(.pal--side-nav--collapsed) ~ .has-side-nav .ibm-cloud-app {
  margin-left: 256px;
  transition: margin-left $duration--moderate-01 motion(exit, productive);
  -webkit-transition: margin-left $duration--moderate-01 motion(exit, productive);

  // on small and medium sized screens
  // the resource-level nav is not a grid influencer
  @media (max-width: 672px) {
    margin-left: 3rem;
  }
}

.clg--resource-level-nav {
  float: left;
  // we need to push L3 nav down a bit, to align the content with the first nav item
  padding-top: $spacing-05;
}

.clg--resource-level-nav ~ .has-side-nav {
  padding-left: 256px;

  // on small and medium sized screens
  // the resource-level nav is not a grid influencer
  @media (max-width: 671px) {
    padding-left: 0;
  }
}

.clg-row-delete-button {
  margin-top: 1.2rem;
  margin-left: -1.5rem;
}

.clg-filled-link {
  fill: $link-01;
}

.clg-filled-navlink {
  fill: $ui-01;
}

.clg-link-icon {
  position: relative;
  top: 3px;
  margin-left: $spacing-2xs;
}

.clg-hover-link {
  fill: none;
}

.bx--data-table tbody tr:hover .clg-hover-link {
  fill: $icon-01;
}

.clg-large-card {
  background: $ui-01;
  padding: $spacing-07;

  &-content {
    line-height: 1.25rem;
    margin-bottom: $spacing-07;
  }

  &.clg-image-container {
    display: none;

    // the component image should be hidden on all md and sm screens
    @media (min-width: 1056px) {
      display: flex;
    }

    img {
      margin: auto;
    }
  }
}

.clg-tile {
  background: $ui-01;

  &-content {
    background: $ui-background;
    padding: $spacing-02 $spacing-05;
    width: 100%;

    &-header {
      padding-top: $spacing-05;
      padding-bottom: $spacing-04;
    }

    &-footer {
      line-height: 1.25rem;
      padding-top: $spacing-07;
      padding-bottom: $spacing-05;
    }

    &-line {
      line-height: 1.25rem;
    }

    &-button-wrapper {
      padding: 0;
      position: relative;
      margin-bottom: $spacing-05;
      min-height: 3rem;
    }

    &-button {
      position: absolute;
      right: 0;
      margin: 0;
      width: 100%;
    }

    &-row {
      padding-left: $spacing-05;
      padding-right: $spacing-05;
    }
  }
}

// the editable pal card has a height of 72px so we need to apply this height for all cards
.pal--card__header.clg-card-header {
  height: 66px;
}
