.detail-page {
  // project detail specific styles
  &.clg-project-detail-page {
    .clg-table-emptystate-col .emptystate-teasers {
      display: flex;
    }

    .project-subpage-tabs {
      &--content {
        // remove the padding so the data table is rendered directly under the tab-nav
        &.bx--tab-content {
          padding: 0;
          margin-top: -2px;
        }
      }
    }

    .overview-subpage {
      .project-detail-section--content {
        text.pie-label {
          display: none;
        }

        .bx--chart-holder {
          background-color: $ui-01;
        }
      }

      .project-entities {

        .pal--card {
          height: 100%;
        }

        .project-entities__count {
          text-align: right;
        }

        .section.entities {
          line-height: $spacing-06;
        }
      }
    }
  }
}
