.clg-expandable-section {
  padding: 0;

  .clg-no-items {
    padding-left: $spacing-md;
    padding-top: $spacing-md;

    font-style: italic;
  }

  .bx--tile--expandable:hover {
    background: inherit;
  }
}
