.clg--expiration-warning {
  .bx--toast-notification {
    z-index: 5700;
    position: fixed;
    right: 42px;
    top: 50px;
  }
}

// the expiration inline notification should span accross the entire page on all detail pages
.clg-application-detail-page,
.clg-build-detail-page,
.clg-jobdef-detail-page {
  .clg--expiration-warning {
    .bx--inline-notification {
      max-width: 100%;
    }
  }
}
