
// in case the user has no projects, jobs, application we are rendering this card
// this section adds some spacing to the various components within this card
.empty-state-card {
  &--title {
    padding-top: $spacing-05;
  }

  &--btn {
    margin-top: $spacing-07;
    margin-bottom: $spacing-05;
  }

  &--description {
    margin-top: $spacing-04;
  }
}
