.clg-registry-selector {
  .bx--inline-notification--info {
    margin-top: 0;
    margin-bottom: 0;
  }

  .add-registry-btn {
    margin-top: $layout-02;
  }
}

.container-registry-modal {
  .subtitle {
    margin-bottom: $spacing-05;
  }
}
