@import "carbon-components/scss/globals/scss/styles.scss";


.div1{
    margin-top: 10px;
    margin-left: 20px;
}
.bx--tile{
    max-width:200px;
    min-height:10px;
}

.input1{
    margin: 0px 0px 10px 0px;
}

.reset-btn{
    background-color: #da1e28;
    color: white;
}
.send-btn{
    background-color: #393939;
    color: white;
}