.clg--teaser {
  &__image {
    width: 32px;
    min-height: 32px;
    margin-bottom: $spacing-05;
  }

  &__title {
    @include type-style(productive-heading-01);

    margin-bottom: $spacing-06;
  }

  &__text {
    @include type-style(body-long-01);

    margin-bottom: $spacing-05;
  }
}


.clg-table-emptystate-col {
  // we need to override the teaser, too
  // the ClgTeaser component is used for all empty states
  .clg--teaser {
    &__title {
      @include type-style(productive-heading-03);

      margin-bottom: $spacing-04;
    }

    &__text {
      @include type-style(body-long-01);

      margin-bottom: $spacing-04;
    }
  }
}
