.jobrun-details--table {

  // we need to unset the min-width, in order to prevent the table to breack out of the card
  .bx--data-table-container {
    min-width: unset;
  }

  // this override ensures that the select-all checkbox in the table header has no spacing
  th.bx--table-expand + th.bx--table-column-checkbox {
    padding-left: 0;
  }

  .clg-datatable-sortable .bx--data-table tbody td.bx--table-expand {
    padding-left: $spacing-05;
  }

  .clg-datatable-sortable .bx--data-table tbody .bx--table-column-checkbox {
    padding-left: 0;
    padding-right: $spacing-07;
  }

  .clg-datatable-sortable .bx--data-table tbody .bx--expandable-row[data-child-row='true'] {
    td:not(.bx--table-expand) {
      padding-left: $spacing-09;
    }
  }

  .clg-datatable-sortable .bx--data-table tbody .bx--expandable-row[data-parent-row='true'] {
    td.bx--table-column-checkbox {
      padding-left: 0;
      padding-right: $spacing-07;
    }
  }

  // we need to adjust the positioning of the trash can
  .clg-datatable-sortable .bx--data-table tbody .bx--parent-row {
    td:last-of-type {
      padding-left: 0;
    }
  }

  .bx--table-expand__button {
    svg {
      margin-top: -$spacing-02;
    }
  }

  .jobrun-date-value {
    @include type-style(body-short-01);
  }

  .jobrun-status {
    &--instance-details {
      &__caption {
        color: $text-01;
      }
    }

    &--startdate {
      margin-bottom: $spacing-03;
    }
  }
}
