.clg--feature-tile {
  padding: 0;
  background: $ui-04;
  height: 100%;

  &__content {
    padding: $spacing-05;
  }

  &__image {
    width: calc(100% + 1px);

    img {
      width: 100%;
    }
  }

  &__title {
    @include type-style(productive-heading-01);

    color: $text-04;
    margin-bottom: $spacing-02;
  }

  &__text {
    @include type-style(body-long-01);

    color: $text-04;
    margin-bottom: $spacing-02;
  }

  &__morelink {
    text-align: right;

    .fill-white {
      fill: $ui-01;
    }
  }

  &.bx--tile--clickable {
    background: $text-02;
  }

  &.bx--tile--clickable:hover {
    background: $text-01;
  }
}
