# Log files
*.log
log

# Unit test coverage reports
coverage
reports
screenshots

# Built public resources
public

# Dependencies
node_modules

# OS specific files
.DS_Store

# IDE stuff
.idea
.vscode
.editorconfig
.project
dump.rdb

# Reverse proxy
dev/local-dev-proxy

# this is the target folder for all compiled, transpiled files
dist/
generated/
fjv9GUHA
