@import "@carbon/grid/scss/grid";
@import "carbon-components/scss/globals/scss/styles.scss";

h1{
    text-align: center;
}

.bx--btn.bx--btn--primary{
    background-color: #393939;
}

.bx--side-nav__link-text{
    text-decoration: none;
}